*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
   /* background-image: url(img/people-2604149_1920.jpg);
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
*/
}
/*
.logo{
    width:20%;
    display: flex;
    justify-content:center;
    align-items:center;
}
.logo img{
    width: 33%;
    border: 3px solid white;
    border-radius: 50px;

} */
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}

nav {
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: #555;
}
p{
    color: #555;
}

nav ul li:hover{
    transform: translateY(-2px);
}
/*
.site-slider{
    position:relative;
}

.position-top{
    position: absolute;
    top: 50%;
}

.site-slider.slider-btn.prev,
.site-slider.slider-btn.next{
background-color:var(--primary-color);
padding: 1rem 1.5rem;
border-radius: 10rem;
color: white;
margin: 0 1rem;
opacity: 0;
transition: opacity 1s ease;
}

.site-slider:hover.slider-btn.prev,
.site-slider:hover.slider-btn.next{
    opacity:1;
}

.right-0{
right: 0;
}

.slick-dots{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 1rem 0;
    list-style-type: none;
    position: absolute;
    bottom: 0;
    right: 50%;
}

.slick-dots li{
    margin: 0 0.6rem;
}

.slick-dots button{
    display: block;
    width: .5rem;
    height: 0.5rem;
    padding: 0;
    border: none;
    background-color: white;
    text-indent: -99999px;
    border-radius: 100%;
}


.slick-dots li.slick-active button{
transform: scale(2,5);
box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.205);
}
*/
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content:space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding:50px 0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}
.btn:hover{
    background: #563434;
}
.header{
    background: radial-gradient(#fff,#ffd6d6);
}
.header .row{
    margin-top: 70px;
}
.categories{
    margin:70px 0;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img{
    width: 100%;
}
.small-container{
   
    margin: auto;
    padding-left:25px;
    padding-right:25px;
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;

}
.col-4 img{
    width: 100%;
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}
.title::after{
     content: '';
     background: #ff523b;
     width: 80px;
     height: 5px;
     border-radius: 5px;
     position: absolute;
     bottom: 0;
     left: 50%;
     transform: translateX(-50%);
}
.rating .fa{
    color: #ff523b;
}
.col-4:hover{
    transform:translateY(-5px);
}
.Blog{
    background: radial-gradient(#fff,#ffd6d6);
    margin-top: 100px;
    padding: 30px;
}
.col-2 .blog-img{
    padding: 50px;
}
small{
    color: #555;
}
.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
  }
  .iframe-container iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }
.Reviews{
    padding-top: 100px;
}
.Reviews .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.5;

}
.Reviews .col-3 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}
.Reviews .col-3:hover{
    transform: translateY(-10px);
}
.fa.fa-quote-left{
    font-size:34px;
    color: #ff523b;
}
.Reviews .col-3 h3{
    font-weight: 600;
    color: #555;
    font-size: 16px;
}

/*---------------footer---------*/
.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
    }
.footer p{
    color: #8a8a8a;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width:250px;
    margin-bottom: 20px;
}

.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 10;
    text-align: center;
}
.footer-col-2 img{
    width :200px;
    margin-bottom: 10px;
}
.footer-col-3, .footer-col-4{
flex-basis: 12%;
text-align: center;
}
ul{
    list-style-type: none;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 140px;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
}
.menu-icon{
    width: 28px;
    margin-left: 20px;
}

/*--------media query for menu----   */
@media only screen and (max-width: 990px){
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: -10px;
    }
    nav ul li a{
        color: #fff;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
}

.page-btn{
    margin: 0 auto 80px;
}
.page-btn span{
    display: inline-block;
    border: 1px solid #ff523b;
    margin-left:10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.page-btn span:hover{
    background: #ff523b;
    color: #fff;
}

/*--------single product details----*/
.single-product{
    margin-top: 80px;
}
.single-product .col-2 img{
    padding: 0;
}
.single-product .col-2{
    padding: 20px;
}
.single-product h4{
    margin: 20px;
    font-size: 22px;
    font-weight: bold;
}
.single-product select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}
.single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #ff523b;
}
input:focus{
outline: none;
}
/*--media query for less than 600 screen size--*/
@media only screen and (max-width: 600px){
.row{
    text-align: center;  
}
.col-2, .col-3, .col-4{
    flex-basis: 100%;
}
.single-product .row{
     text-align: left;
}

.single-product .col-2{
    padding: 20px 0;
}
.single-product h1{
    font-size: 26px;
    line-height: 32px;
}

}

/*
.nav-list{
     width: 50%;
     background-color: black; 
     display: flex;
     align-items: center;
}
.nav-list li{
    list-style: none;
    padding: 26px 30px;
}
.nav-list li a{
    text-decoration: none;
    color: white;
}
.nav-list li a:hover{
    text-decoration: none;
    color: grey;
}
.rightNav{
    background-color: blueviolet;
    width: 50%;
    text-align: right;
}
#search{
    padding: 5px;
    font-size: 17px;
    border: 2px solid grey;
    border-radius: 9px;
}
.background{
    background: rgba(0, 0, 0, 0.7)url('img/goingthe360way-wiprocasestudy-121101131122-phpapp01-thumbnail-4.jpg');
    height: 90px;
    background-size: cover;
    background-blend-mode: darken;
}
*/